@use "../../styles/partials/resets" as *;
@use "../../styles/partials/branding" as *;
@use "../../styles/partials/mixins" as *;

.app-window {
  width: 70vw;
  height: 80vh;
  background-color: $window-grey;
  border-radius: 8px;
}

.nav {
  padding: 0.5rem 2rem;
  width: 100%;
  @include positioning(flex, row, space-between, center);
}

.monster-select {
  padding: 2rem;

  &__title {
    color: $primary-brown;
    @include regular;
    font-weight: 700;
    // margin-top: 3rem;
  }

  &__options {
    @include positioning(flex, column, center, center);
    margin-top: 2rem;
  }

  &__button-link {
    @include positioning(flex, column, center, center);
  }

  &__button {
    @include positioning(flex, column, center, center);
    background-color: $primary-red;
    border-radius: 8px;
    height: 5rem;
    width: 10rem;
    margin: 1rem;

    &-next {
      color: $primary-white;
      @include regular;
    }
  }
}

.small-button {
  height: 4rem;
  width: 7rem;
}
