@use "../../styles/partials/branding" as *;
@use "../../styles/partials/mixins" as *;

.encounter-background {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/encounter.jpg");
  background-size: cover;
  //   position: absolute;
  //   overflow: visible;
  @include positioning(flex, column, center, center);
}

.nav {
  padding: 0.5rem 2rem;
  width: 100%;
  @include positioning(flex, row, space-between, center);
}

.monster-select {
  padding: 2rem;

  &__title {
    color: $primary-brown;
    @include regular;
    font-weight: 700;
    // margin-top: 3rem;
  }

  &__options {
    @include positioning(flex, column, center, center);
    margin-top: 2rem;
  }

  &__button-link {
    @include positioning(flex, column, center, center);
  }

  &__button {
    @include positioning(flex, column, center, center);
    border-radius: 8px;
    height: 5rem;
    width: 10rem;
    margin: 0.5rem;

    &-next {
      color: $primary-black;
      @include regular;
      margin-bottom: 1rem;
    }
  }
}

.boss {
  background-image: url("../../assets/images/bossMinions.png");
  background-size: cover;

  border: 1px solid $primary-red;
}

.swarm {
  background-image: url("../../assets/images/swarm.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid $primary-red;
}

.oneMonster {
  background-image: url("../../assets/images/oneMonster.jpeg");
  background-size: cover;
  background-position-y: center;
  border: 1px solid $primary-red;
}
