@use "../../styles/partials/branding" as *;
@use "../../styles/partials/mixins" as *;

.profile-background {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/signin.jpg");
  background-size: cover;
  //   position: absolute;
  //   overflow: visible;
  @include positioning(flex, column, center, center);
}

.profile__app-window {
  width: 85vw;
  height: 80vh;
  background-color: $grey-80;
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem;
  @include positioning(flex, column, flex-start, center);
}

.nav {
  // padding: 0.5rem 2rem;
  width: 100%;
  @include positioning(flex, row, space-between, center);
}

.profile {
  padding: 1rem;
  @include regular;
  @include positioning(flex, column, center, center);

  &__welcome {
    @include mobile-page-header;
    // margin-top: 2rem;
    color: $primary-brown;
  }
  &__info-header {
    @include positioning(flex, row, center, baseline);
  }
  &__title {
    @include mobile-page-header;
    margin-top: 2rem;
    color: $primary-brown;
  }
  &__edit-button {
    margin-left: 1rem;
  }

  &__fields {
    @include positioning(flex, column, center, flex-start);
  }

  &__lable {
    color: $primary-brown;
    @include mobile-body-copy;
    width: 100%;
  }

  &__input {
    color: $primary-brown;
    @include mobile-body-copy;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $primary-red;
    border-radius: 4px;
    padding: 0.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }

  &__logout {
    margin-top: 2rem;
    background-color: $primary-red;
    border-radius: 8px;
    height: 2rem;
    width: 10rem;
    margin-top: 2rem;
    @include mobile-labels-buttons;
    color: $primary-white;
    border: none;
    box-shadow: none;
  }
}

.profile-monster-save {
  @include positioning(flex, column, center, center);

  &__button-link {
    text-decoration: none;
    color: $primary-red;
    @include mobile-subheader;
  }
  &__instructions {
    @include mobile-labels-buttons;
  }
  &__container {
    @include positioning(flex, column, center, center);
    padding: 0.5rem;
    border: 2px solid $primary-red;
    border-radius: 8px;
  }
  &__title {
    border-bottom: 2px solid $primary-red;
  }
  &__list {
    margin-top: 0.5rem;
  }
}
