$primary-red: #6f1d1b;
$primary-brown: #432818;
$primary-white: #ffffff;
$primary-black: #000000;
$secondary-light-brown: #99582a;
$secondary-tan: #bb9457;
$secondary-grey: #6f7d8c;
$grey-80: #6f7d8ccc;
$grey-90: #6f7d8ce6;
$black-70: #000000b3;
$black-60: #00000099;
$black-40: #00000066;
$white-80: #ffffffcc;
$white-60: #ffffff99;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$padding-mobile: 1rem;

@font-face {
  font-family: "IMFellEnglish";
  src: url("../../assets/fonts/IMFellEnglish-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IMFellEnglish";
  src: url("../../assets/fonts/IMFellEnglish-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
