$primary-red: #6f1d1b;
$primary-brown: #432818;
$primary-white: #ffffff;
$primary-black: #000000;
$secondary-light-brown: #99582a;
$secondary-tan: #bb9457;
$secondary-grey: #6f7d8c;
$window-grey: #6f7d8ccc;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$padding-mobile: 1rem;

@font-face {
  font-family: "IMFellEnglish";
  src: url("../../assets/fonts/IMFellEnglish-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IMFellEnglish";
  src: url("../../assets/fonts/IMFellEnglish-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
