@use "./branding" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin positioning($flex, $direction, $justify, $align) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin regular {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
@mixin bold {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@mixin demi {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

@mixin mobile-page-header {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin mobile-section-header {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@mixin mobile-subheader {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@mixin mobile-body-copy {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@mixin mobile-labels-buttons {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}

@mixin tablet-desktop-page-header {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.0625rem;
  line-height: 2.75rem;
}

@mixin tablet-desktop-section-header {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@mixin tablet-desktop-subheader {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin tablet-desktop-body-copy {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin tablet-desktop-labels-buttons {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
