* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
// body {
//   width: 100%;
//   height: auto;
//   background-image: url("../../assets/images/app-background.jpg");
//   background-size: cover;
// }
