@use "../../styles/partials/branding" as *;
@use "../../styles/partials/mixins" as *;

.party-background {
  width: 100vw;
  height: max-content;
  background-image: url("../../assets/images/adventuring-party.jpg");
  background-size: cover;
  //   position: absolute;
  //   overflow: visible;
  @include positioning(flex, column, center, center);
}

.party-setup {
  @include positioning(flex, column, center, center);
  // padding: 2rem;

  &__app-window {
    width: 85vw;
    height: max-content;
    background-color: $grey-80;
    border-radius: 8px;
    padding: 1rem;
    margin: 2rem;
  }

  &__header {
    @include positioning(flex, column, center, center);
  }
  &__title {
    // margin-top: 3rem;
    color: $primary-brown;
    @include mobile-page-header;
    font-weight: 700;
  }

  &-cr {
    @include positioning(flex, row, center, baseline);

    &__title {
      color: $primary-brown;
      @include regular;
      margin: 1rem;
    }

    &__value {
      color: $primary-brown;
      @include regular;
      font-size: x-large;
    }
  }
  &__form {
    // margin: 2rem 0;
    @include positioning(flex, column, center, center);
    &-title {
      color: $primary-brown;
      @include regular;
      font-weight: 700;
    }
  }
  &__member {
    // margin: 1rem;
  }

  &__lable {
    // margin-right: 0.5rem;
    color: $primary-brown;
    @include mobile-section-header;
  }

  &__input {
    color: $primary-brown;
    @include mobile-body-copy;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $primary-red;
    border-radius: 4px;
    padding: 0.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }

  &__form-button-link {
    width: 100%;
    @include positioning(flex, column, center, center);
  }

  &__form-button {
    margin: 1rem;
    @include positioning(flex, column, center, center);
    background-color: $primary-red;
    border-radius: 8px;
    height: 5rem;
    width: 100%;

    &-next {
      color: $primary-white;
      @include mobile-labels-buttons;
    }
  }

  &__buttons {
    @include positioning(flex, row, center, center);
    width: 100%;
    // height: 5rem;
  }
  &__decrease-button {
    // margin: 0 0.5rem;
    height: 5rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    margin-right: 0.5rem;
  }
  &__increase-button {
    // margin: 0 0.5rem;
    height: 5rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: none;
  }
}
