@use "../src/styles/partials/resets";
@use "../src/styles/partials/branding" as *;
@use "../src/styles/partials/mixins" as *;

body {
  width: 100%;
  height: auto;
  background-image: url("../../assets/images/app-background.jpg");
  background-size: cover;
}
