@use "../../styles/partials/branding";
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

// body {
//   width: 100%;
//   height: auto;
//   background-image: url("../../assets/images/app-background.jpg");
//   background-size: cover;
// }
.home-background {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/app-background.jpg");
  background-size: cover;
  //   position: absolute;
  //   overflow: visible;
  @include positioning(flex, column, center, center);
}
